#===== URL DA API =======
API_URL=https://api.stackexchange.com/2.3/questions/unanswered?order=desc&sort=activity&tagged=python&site=stackoverflow


#===== CREDENCIAS BANCO =======

DB_USER=
PASSWORD=
HOST=
PORT=
DBNAME=

#===== TABELAS BANCO =======

TABLE_DIM_USUARIOS=
TABLE_DIM_TEMPO=
TABLE_DIM_TAGS=
TABLE_DIM_PERGUNTAS=
TABLE_FATO_PERGUNTAS=
TABLE_BRIDGE_TAGS= 
